openapi: 3.0.1
info:
  contact:
    email: tmunzer@juniper.net
    name: Thomas Munzer
  description: "> Version: **2405.1.6**

    >

    > Date: **June 6, 2024**


    ---


    ### Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.mist.com/documentation/category/product-updates/)


    ---


    ### Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ---

    "
  license:
    name: MIT
    url: https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE
  title: Mist API
  version: 2405.1.6
servers:
  - description: Mist Global 01
    url: https://api.mist.com
  - description: Mist Global 02
    url: https://api.gc1.mist.com
  - description: Mist Global 03
    url: https://api.ac2.mist.com
  - description: Mist Global 04
    url: https://api.gc2.mist.com
  - description: Mist EMEA 01
    url: https://api.eu.mist.com
  - description: Mist EMEA 02
    url: https://api.gc3.mist.com
  - description: Mist APAC 01
    url: https://api.ac5.mist.com
security:
  - apiToken: []
tags:
  - description:
      An organization usually represents a customer - which has inventories,
      licenses. An Organization can contain multiple sites. A site usually represents
      a deployment at the same location (a campus, an office).
    name: Orgs
paths:
  /api/v1/sites/{site_id}:
    delete:
      description: Delete Site
      operationId: deleteSite
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteSite
      tags:
        - Sites
    get:
      description: Get Site Info
      operationId: getSiteInfo
      responses:
        "200":
          $ref: "#/components/responses/Site"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getSiteInfo
      tags:
        - Sites
    parameters:
      - $ref: "#/components/parameters/site_id"
    put:
      description: Update Site Info
      operationId: updateSiteInfo
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: string
                  alarmtemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  country_code: string
                  latlng:
                    lat: 0
                    lng: 0
                  name: string
                  networktemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  notes: string
                  rftemplate_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  secpolicy_id: b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  sitegroup_ids:
                    - b069b358-4c97-5319-1f8c-7c5ca64d6ab1
                  timezone: string
            schema:
              $ref: "#/components/schemas/site"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Site"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateSiteInfo
      tags:
        - Sites
  /api/v1/orgs/{org_id}/wlans:
    get:
      description: Get List of Org Wlans
      operationId: listOrgWlans
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/WlansArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listOrgWlans
      tags:
        - Orgs Wlans
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Create Org Wlan
      operationId: createOrgWlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/wlan"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Wlan"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrgWlan
      tags:
        - Orgs Wlans
  /api/v1/orgs/{org_id}/wlans/{wlan_id}:
    delete:
      description: Delete Org WLAN
      operationId: deleteOrgWlan
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteOrgWlan
      tags:
        - Orgs Wlans
    get:
      description: Get Org Wlan Detail
      operationId: getOrgWLAN
      responses:
        "200":
          $ref: "#/components/responses/WlansArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrgWLAN
      tags:
        - Orgs Wlans
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/wlan_id"
    put:
      description: Update Org Wlan
      operationId: updateOrgWlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/wlan"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Wlan"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrgWlan
      tags:
        - Orgs Wlans
  /api/v1/orgs/{org_id}/templates:
    get:
      description: Get List of Org WLAN Templates
      operationId: listOrgTemplates
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/TemplatesArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listOrgTemplates
      tags:
        - Orgs WLAN Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Create Org Template
      operationId: createOrgTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/template"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Template"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrgTemplate
      tags:
        - Orgs WLAN Templates
  /api/v1/orgs/{org_id}/templates/{template_id}:
    delete:
      description: Delete Org Template
      operationId: deleteOrgTemplate
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteOrgTemplate
      tags:
        - Orgs WLAN Templates
    get:
      description: Get Org Template Details
      operationId: getOrgTemplate
      responses:
        "200":
          $ref: "#/components/responses/Template"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrgTemplate
      tags:
        - Orgs WLAN Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/template_id"
    put:
      description: Update Org Template
      operationId: updateOrgTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/template"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Template"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrgTemplate
      tags:
        - Orgs WLAN Templates
  /api/v1/orgs/{org_id}/networktemplates:
    get:
      description: Get List of Org Network Templates
      operationId: listOrgNetworkTemplates
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/NetworktemplatesArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listOrgNetworkTemplates
      tags:
        - Orgs Network Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Update Org Network Templates
      operationId: createOrgNetworkTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/network_template"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Networktemplate"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrgNetworkTemplate
      tags:
        - Orgs Network Templates
  /api/v1/orgs/{org_id}/networktemplates/{networktemplate_id}:
    delete:
      description: Delete Org Network Template
      operationId: deleteOrgNetworkTemplate
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteOrgNetworkTemplate
      tags:
        - Orgs Network Templates
    get:
      description: Get Org Network Templates Details
      operationId: getOrgNetworkTemplate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/network_template"
          description: OK
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrgNetworkTemplate
      tags:
        - Orgs Network Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/networktemplate_id"
    put:
      description: Update Org Network Template
      operationId: updateOrgNetworkTemplates
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/network_template"
        description: Request Body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/network_template"
          description: OK
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrgNetworkTemplates
      tags:
        - Orgs Network Templates
  /api/v1/orgs/{org_id}/rftemplates:
    get:
      description: Get List of Org RF Template
      operationId: listOrgRfTemplates
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/RftemplatesArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listOrgRfTemplates
      tags:
        - Orgs RF Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Create Org RF Template
      operationId: createOrgRfTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/rf_template"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Rftemplate"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrgRfTemplate
      tags:
        - Orgs RF Templates
  /api/v1/orgs/{org_id}/rftemplates/{rftemplate_id}:
    delete:
      description: Delete Org RF Template
      operationId: deleteOrgRfTemplate
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteOrgRfTemplate
      tags:
        - Orgs RF Templates
    get:
      description: Get Org RF Template Details
      operationId: getOrgRfTemplate
      responses:
        "200":
          $ref: "#/components/responses/Rftemplate"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrgRfTemplate
      tags:
        - Orgs RF Templates
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/rftemplate_id"
    put:
      description: Update Org RF Template
      operationId: updateOrgRfTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/rf_template"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Rftemplate"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrgRfTemplate
      tags:
        - Orgs RF Templates
  /api/v1/orgs/{org_id}/inventory:
    get:
      description:
        "Get Org Inventory\n\n### VC (Virtual-Chassis) Management\nIdeally\
        \ VC should be managed as a single device - where - one managed entity where\
        \ config / monitoring is anchored against (with a stable identify MAC) - all\
        \ members appears in the inventory\n\nIn our implementation, we strive to\
        \ achieve that without manual user configurations by \n1. during claim or\
        \ adoption a VC, we require FPC0 to exist and will use its MAC as identify\
        \ for the entire chassis\n2. other VC members will be automatically populated\
        \ when they\u2019re all present\n\nThe perceivable result is \n1. from `/sites/:site_id/stats/devices/:fpc0_mac`\
        \ API, you\u2019d see the VC where module_stat contains the VC members \n\
        2. from `/orgs/:org_id/inventory?vc=true` API, you\u2019d see all VC members\
        \ with vc_mac pointing to the FPC0"
      operationId: getOrgInventory
      parameters:
        - description: device serial
          in: query
          name: serial
          schema:
            type: string
        - description: device model
          in: query
          name: model
          schema:
            type: string
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/device_type"
        - description: MAC address
          in: query
          name: mac
          schema:
            type: string
        - description: site id if assigned, null if not assigned
          in: query
          name: site_id
          schema:
            type: string
        - in: query
          name: vc_mac
          schema:
            type: string
        - in: query
          name: vc
          schema:
            type: string
        - in: query
          name: unassigned
          schema:
            type: boolean
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/OrgInventory"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrgInventory
      tags:
        - Orgs Inventory
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Add Device to Org Inventory with the device claim codes
      operationId: addOrgInventory
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  - 6JG8E-PTFV2-A9Z2N
                  - DVH4V-SNMSZ-PDXBR
            schema:
              $ref: "#/components/schemas/claim_codes"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/OrgInventoryAdd"
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - 6JG8E-PTFV2-A9Z2N
                    - DVH4V-SNMSZ-PDXBR
              schema:
                $ref: "#/components/schemas/string_list"
          description: if none of the entries are valid
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: addOrgInventory
      tags:
        - Orgs Inventory
    put:
      description: Update Org Inventory
      operationId: updateOrgInventoryAssignment
      requestBody:
        content:
          application/json:
            examples:
              assign:
                value:
                  disable_auto_config: false
                  macs:
                    - 5c5b350e0001
                  managed: false
                  no_reassign: false
                  op: assign
                  site_id: 4ac1dcf4-9d8b-7211-65c4-057819f0862b
              delete:
                value:
                  macs:
                    - 5c5b350e0001
                  op: delete
                  serials:
                    - FXLH2015150025
                    - FXLH2015150026
            schema:
              $ref: "#/components/schemas/inventory_update"
      responses:
        "200":
          $ref: "#/components/responses/OrgInventoryChanges"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrgInventoryAssignment
      tags:
        - Orgs Inventory
  /api/v1/sites/{site_id}/devices/{device_id}:
    delete:
      description: Delete Site Device
      operationId: deleteSiteDevice
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteSiteDevice
      tags:
        - Sites Devices
    get:
      description: Get Device Configuration
      operationId: getSiteDevice
      responses:
        "200":
          $ref: "#/components/responses/Device"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getSiteDevice
      tags:
        - Sites Devices
    parameters:
      - $ref: "#/components/parameters/site_id"
      - $ref: "#/components/parameters/device_id"
    put:
      description: Update Device Configuration
      operationId: updateSiteDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mist_device"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Device"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateSiteDevice
      tags:
        - Sites Devices
  /api/v1/sites/{site_id}/devices:
    get:
      description: Get list of devices on the site.
      operationId: listSiteDevices
      parameters:
        - in: query
          name: type
          schema:
            $ref: "#/components/schemas/device_type_with_all"
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/DevicesArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listSiteDevices
      tags:
        - Sites Devices
    parameters:
      - $ref: "#/components/parameters/site_id"
  /api/v1/orgs/{org_id}/sitegroups:
    get:
      description: Get List of Org Site Groups
      operationId: listOrgSiteGroups
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/SitegroupsArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listOrgSiteGroups
      tags:
        - Orgs Sitegroups
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Create Org Site Group
      operationId: createOrgSiteGroup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: string
            schema:
              $ref: "#/components/schemas/sitegroup"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Sitegroup"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrgSiteGroup
      tags:
        - Orgs Sitegroups
  /api/v1/orgs/{org_id}/sitegroups/{sitegroup_id}:
    delete:
      description: Delete Org Site Group
      operationId: deleteOrgSiteGroup
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteOrgSiteGroup
      tags:
        - Orgs Sitegroups
    get:
      description: Get Org Site Group
      operationId: getOrgSiteGroup
      responses:
        "200":
          $ref: "#/components/responses/Sitegroup"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrgSiteGroup
      tags:
        - Orgs Sitegroups
    parameters:
      - $ref: "#/components/parameters/org_id"
      - $ref: "#/components/parameters/sitegroup_id"
    put:
      description: Update Org Site Group
      operationId: updateOrgSiteGroup
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  name: string
            schema:
              $ref: "#/components/schemas/name"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Sitegroup"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrgSiteGroup
      tags:
        - Orgs Sitegroups
  /api/v1/sites/{site_id}/setting:
    get:
      description: Get Site Settings
      operationId: getSiteSetting
      responses:
        "200":
          $ref: "#/components/responses/SiteSettings"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getSiteSetting
      tags:
        - Sites Setting
    parameters:
      - $ref: "#/components/parameters/site_id"
    put:
      description: Update Site Settings
      operationId: updateSiteSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/site_setting"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/SiteSettings"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateSiteSettings
      tags:
        - Sites Setting
  /api/v1/orgs/{org_id}/sites:
    get:
      description: Get List of Org Sites
      operationId: listOrgSites
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          $ref: "#/components/responses/SitesArray"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: listOrgSites
      tags:
        - Orgs Sites
    parameters:
      - $ref: "#/components/parameters/org_id"
    post:
      description: Create Org Site
      operationId: createOrgSite
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  address: 1601 S. Deanza Blvd., Cupertino, CA, 95014
                  alarmtemplate_id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                  apporttemplate_id: string
                  aptemplate_id: 16bdf952-ade2-4491-80b0-85ce506c760b
                  country_code: US
                  gatewaytemplate_id: 6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f
                  latlng:
                    lat: 37.295833
                    lng: -122.032946
                  name: Mist Office
                  networktemplate_id: 12ae9bd2-e0ab-107b-72e8-a7a005565ec2
                  notes: string
                  rftemplate_id: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
                  secpolicy_id: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
                  sitegroup_ids:
                    - 497f6eca-6276-4997-bfeb-53cbbbba6f3b
                  timezone: America/Los_Angeles
            schema:
              $ref: "#/components/schemas/site"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Site"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrgSite
      tags:
        - Orgs Sites
  /api/v1/orgs:
    post:
      description:
        "Org admin can invite people to manage the org. Furthermore, he\
        \ can dictate the level of security those accounts are. The check is enforced\
        \ when the invited admin tries to \u201Caccept\u201D the invitation and every\
        \ time the admin tries to login"
      operationId: createOrg
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/org"
      responses:
        "200":
          $ref: "#/components/responses/Org"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: createOrg
      tags:
        - Orgs
  /api/v1/orgs/{org_id}:
    delete:
      description: Delete Org
      operationId: deleteOrg
      responses:
        "200":
          $ref: "#/components/responses/OK"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: deleteOrg
      tags:
        - Orgs
    get:
      description: Get Organization information
      operationId: getOrg
      responses:
        "200":
          $ref: "#/components/responses/Org"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: getOrg
      tags:
        - Orgs
    parameters:
      - $ref: "#/components/parameters/org_id"
    put:
      description: Update Org
      operationId: updateOrg
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  alarmtemplate_id: 1984805d-2be2-4aec-a8d4-3ddf67fab0df
                  allow_mist: true
                  created_time: 0
                  id: 497f6eca-6276-5021-bfeb-53cbbbba6f2a
                  modified_time: 0
                  msp_id: c0cf23fc-d82f-4219-988c-82fb61d8c875
                  name: string
                  orggroup_ids: []
                  session_expiry: 1440
            schema:
              $ref: "#/components/schemas/org"
        description: Request Body
      responses:
        "200":
          $ref: "#/components/responses/Org"
        "400":
          $ref: "#/components/responses/HTTP400"
        "401":
          $ref: "#/components/responses/HTTP401"
        "403":
          $ref: "#/components/responses/HTTP403"
        "404":
          $ref: "#/components/responses/HTTP404"
        "429":
          $ref: "#/components/responses/HTTP429"
      summary: updateOrg
      tags:
        - Orgs
components:
  parameters:
    name:
      in: query
      name: name
      required: false
      schema:
        default: ""
        type: string
    networktemplate_id:
      in: path
      name: networktemplate_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    template_id:
      in: path
      name: template_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    rftemplate_id:
      in: path
      name: rftemplate_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    sitegroup_id:
      in: path
      name: sitegroup_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    wlan_id:
      in: path
      name: wlan_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    org_id:
      in: path
      name: org_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    site_id:
      in: path
      name: site_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    device_id:
      in: path
      name: device_id
      required: true
      schema:
        example: 000000ab-00ab-00ab-00ab-0000000000ab
        format: uuid
        type: string
    page:
      in: query
      name: page
      required: false
      schema:
        default: 1
        minimum: 1
        type: integer
    limit:
      in: query
      name: limit
      required: false
      schema:
        default: 100
        minimum: 0
        type: integer
  responses:
    TemplatesArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/template_list"
      description: OK
    SitesArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/site_list"
      description: OK
    Site:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/site"
      description: OK
    Wlan:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/wlan"
      description: OK
    WlansArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/wlan_list"
      description: OK
    OK:
      description: OK
    HTTP400:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_http400"
      description: Bad Syntax
    HTTP401:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_http401"
      description: Unauthorized
    HTTP403:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_http403"
      description: Permission Denied
    HTTP404:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_http404"
      description:
        "Not found. The API endpoint doesn\u2019t exist or resource doesn\u2019\
        t exist"
    HTTP429:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_http429"
      description:
        Too Many Request. The API Token used for the request reached the
        5000 API Calls per hour threshold
    Networktemplate:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/network_template"
      description: OK
    NetworktemplatesArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/network_template_list"
      description: OK
    Template:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/template"
      description: OK
    RftemplatesArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/rf_template_list"
      description: OK
    Rftemplate:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/rf_template"
      description: OK
    Org:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/org"
      description: Org Infos
    OrgInventory:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inventory_list"
      description: OK
    OrgInventoryAdd:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_inventory"
      description: "OK - if any of entries are valid or there\u2019s no errors"
    OrgInventoryChanges:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_org_inventory_change"
      description: OK
    OrgInventoryUnassignFailed:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_detail_string"
      description: Bad Request
    OrgInventoryUnassignNotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_detail_string"
      description: Not Found
    Device:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/response_device"
      description: OK
    DevicesArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/config_devices"
      description: OK
    Sitegroup:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/sitegroup"
      description: OK
    SitegroupsArray:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/sitegroup_list"
      description: OK
    SiteSettings:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/site_setting"
      description: OK
  schemas:
    inventory_list:
      items:
        $ref: "#/components/schemas/inventory"
      type: array
    response_inventory:
      properties:
        added:
          items:
            example: 6JG8E-PTFV2-A9Z2N
            type: string
          type: array
        duplicated:
          items:
            example: DVH4V-SNMSZ-PDXBR
            type: string
          type: array
        error:
          items:
            example: PO1025335ohoh
            type: string
          type: array
        inventory_added:
          items:
            properties:
              mac:
                example: 5c5b35000018
                type: string
              magic:
                example: 6JG8EPTFV2A9Z2N
                type: string
              model:
                example: AP41
                type: string
              serial:
                example: FXLH2015150025
                type: string
              type:
                example: ap
                type: string
            required:
              - mac
              - magic
              - model
              - serial
              - type
            type: object
          minItems: 1
          type: array
          uniqueItems: true
        inventory_duplicated:
          items:
            properties:
              mac:
                example: 5c5b35000012
                type: string
              magic:
                example: DVH4VSNMSZPDXBR
                type: string
              model:
                example: AP41
                type: string
              serial:
                example: FXLH2015150027
                type: string
              type:
                example: ap
                type: string
            required:
              - mac
              - magic
              - model
              - serial
              - type
            type: object
          minItems: 1
          type: array
          uniqueItems: true
      readOnly: true
      type: object
    inventory:
      properties:
        adopted:
          description: "only if `type`==`switch` or `type`==`gateway`

            whether the switch/gateway is adopted"
          type: boolean
        connected:
          description: whether the device is connected
          type: boolean
        created_time:
          description: inventory created time, in epoch
          type: integer
        deviceprofile_id:
          description: deviceprofile id if assigned, null if not assigned
          nullable: true
          type: string
        hostname:
          description: hostname reported by the device
          type: string
        hw_rev:
          description: device hardware revision number
          type: string
        id:
          description: device id
          type: string
        jsi:
          type: boolean
        mac:
          description: device MAC address
          type: string
        magic:
          description: device claim code
          type: string
        model:
          description: device model
          type: string
        modified_time:
          description: inventory last modified time, in epoch
          type: integer
        name:
          description: device name if configured
          type: string
        org_id:
          $ref: "#/components/schemas/org_id"
        serial:
          description: device serial
          type: string
        site_id:
          $ref: "#/components/schemas/site_id"
        sku:
          description: device stock keeping unit
          type: string
        type:
          $ref: "#/components/schemas/device_type"
      type: object
    site:
      description: Site
      properties:
        address:
          description: full address of the site
          example: 1601 S. Deanza Blvd., Cupertino, CA, 95014
          type: string
        alarmtemplate_id:
          description:
            Alarm Template ID, this takes precedence over the Org-level
            alarmtemplate_id
          example: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
          format: uuid
          nullable: true
          default: null
          type: string
        aptemplate_id:
          description: AP Template ID, used by APs
          example: 16bdf952-ade2-4491-80b0-85ce506c760b
          format: uuid
          nullable: true
          default: null
          type: string
        country_code:
          description: country code for the site (for AP config generation), in two-character
          example: US
          type: string
        created_time:
          readOnly: true
          type: number
        gatewaytemplate_id:
          description: Gateway Template ID, used by gateways
          example: 6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f
          format: uuid
          nullable: true
          default: null
          type: string
        id:
          format: uuid
          readOnly: true
          type: string
        latlng:
          $ref: "#/components/schemas/lat_lng"
        modified_time:
          readOnly: true
          type: number
        name:
          example: Mist Office
          type: string
        networktemplate_id:
          description: Network Template ID, this takes precedence over Site Settings
          example: 12ae9bd2-e0ab-107b-72e8-a7a005565ec2
          format: uuid
          nullable: true
          default: null
          type: string
        notes:
          description: optional, any notes about the site
          type: string
        org_id:
          $ref: "#/components/schemas/org_id"
        rftemplate_id:
          description: RF Template ID, this takes precedence over Site Settings
          example: bb8a9017-1e36-5d6c-6f2b-551abe8a76a2
          format: uuid
          nullable: true
          default: null
          type: string
        secpolicy_id:
          description: SecPolicy ID
          example: 3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef
          format: uuid
          nullable: true
          default: null
          type: string
        sitegroup_ids:
          description: sitegroups this site belongs to
          items:
            format: uuid
            type: string
          type: array
          default: []
        sitetemplate_id:
          description: Site Template ID
          format: uuid
          nullable: true
          default: null
          type: string
        timezone:
          description: Timezone the site is at
          example: America/Los_Angeles
          type: string
      required:
        - name
      type: object
    site_list:
      items:
        $ref: "#/components/schemas/site"
      type: array
    site_app:
      properties:
        group:
          minLength: 1
          type: string
        key:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
      required:
        - key
        - name
        - group
      type: object
    switch:
      description: 'Switch Configuration.

        You can configure `port_usages` and `networks` settings at the device level,
        but most of the time it''s better use the Site Setting to achieve better consistency
        and be able to re-use the same settings across switches entries defined here
        will "replace" those defined in Site Setting/Network Template'
      properties:
        acl_policies:
          items:
            $ref: "#/components/schemas/junos_acl_policies"
          type: array
        acl_tags:
          additionalProperties:
            $ref: "#/components/schemas/junos_acl_tags"
          description:
            ACL Tags to identify traffic source or destination. Key name
            is the tag name
          properties:
            any:
              description: implicit, cannot override
              properties:
                type:
                  default: a
                  type: string
              type: object
          type: object
        additional_config_cmds:
          $ref: "#/components/schemas/string_list"
        created_time:
          readOnly: true
          type: number
        deviceprofile_id:
          format: uuid
          type: string
        dhcp_config:
          $ref: "#/components/schemas/junos_dhcpd_config"
        dhcp_snooping:
          $ref: "#/components/schemas/junos_dhcp_snooping"
        disable_auto_config:
          default: false
          description:
            for a claimed switch, we control the configs by default. This
            option (disables the behavior)
          type: boolean
        dns_servers:
          description:
            Global dns settings. To keep compatibility, dns settings in
            `ip_config` and `oob_ip_config` will overwrite this setting
          items:
            type: string
          type: array
        dns_suffix:
          description:
            Global dns settings. To keep compatibility, dns settings in
            `ip_config` and `oob_ip_config` will overwrite this setting
          items:
            type: string
          type: array
        evpn_config:
          $ref: "#/components/schemas/junos_evpn_config"
        extra_routes:
          $ref: "#/components/schemas/switch_extra_routes"
        extra_routes6:
          $ref: "#/components/schemas/switch_extra_routes6"
        id:
          format: uuid
          readOnly: true
          type: string
        image1_url:
          nullable: true
          type: string
        image2_url:
          nullable: true
          type: string
        image3_url:
          nullable: true
          type: string
        ip_config:
          $ref: "#/components/schemas/junos_ip_config"
        managed:
          default: false
          description:
            "for an adopted switch, we don\u2019t overwrite their existing\
            \ configs automatically"
          type: boolean
        modified_time:
          readOnly: true
          type: number
        name:
          type: string
        networks:
          $ref: "#/components/schemas/junos_networks"
        notes:
          type: string
        ntp_servers:
          description:
            list of NTP servers specific to this device. By default, those
            in Site Settings will be used
          items:
            type: string
          type: array
        oob_ip_config:
          $ref: "#/components/schemas/junos_oob_ip_config"
        org_id:
          $ref: "#/components/schemas/org_id"
        ospf_config:
          $ref: "#/components/schemas/junos_ospf_config"
        other_ip_configs:
          additionalProperties:
            $ref: "#/components/schemas/junos_other_ip_configs"
          description: Property key is the network name
          type: object
        port_config:
          additionalProperties:
            $ref: "#/components/schemas/junos_port_config"
          description: Property key is the port name or range (e.g. "ge-0/0/0-10")
          type: object
        port_mirroring:
          properties:
            port_mirror:
              $ref: "#/components/schemas/junos_port_mirroring"
          type: object
        port_usages:
          additionalProperties:
            $ref: "#/components/schemas/junos_port_usages"
          description: Property key is the port profile name
          type: object
        radius_config:
          $ref: "#/components/schemas/junos_radius_config"
        role:
          default: access
          enum:
            - access
            - aggregation
          type: string
        router_id:
          description: used for OSPF / BGP / EVPN
          example: 10.2.1.10
          type: string
        site_id:
          $ref: "#/components/schemas/site_id"
        stp_config:
          $ref: "#/components/schemas/switch_stp_config"
        switch_mgmt:
          $ref: "#/components/schemas/switch_switch_mgmt"
        use_router_id_as_source_ip:
          default: false
          description: whether to use it for snmp / syslog / tacplus / radius
          type: boolean
        vars:
          $ref: "#/components/schemas/vars"
        virtual_chassis:
          $ref: "#/components/schemas/switch_virtual_chassis"
        vrf_config:
          $ref: "#/components/schemas/junos_vrf_config"
        vrrp_config:
          $ref: "#/components/schemas/junos_vrrp_config"
      type: object
    switch_extra_routes:
      additionalProperties:
        properties:
          discard:
            default: false
            description: this takes precedence
            type: boolean
          metric:
            example: null
            maximum: 4294967295
            minimum: 0
            nullable: true
            type: integer
          next_qualified:
            additionalProperties:
              properties:
                metric:
                  nullable: true
                  type: integer
                preference:
                  nullable: true
                  type: integer
              type: object
            example:
              10.3.1.1:
                metric: null
                preference: 40
            type: object
          no_resolve:
            default: false
            type: boolean
          preference:
            example: 30
            maximum: 4294967295
            minimum: 0
            nullable: true
            type: integer
          via:
            description: next-hop IP Address
            example: 10.2.1.1
            type: string
        type: object
    switch_extra_routes6:
      additionalProperties:
        properties:
          discard:
            default: false
            description: this takes precedence
            type: boolean
          metric:
            example: null
            maximum: 4294967295
            minimum: 0
            nullable: true
            type: integer
          next_qualified:
            additionalProperties:
              properties:
                metric:
                  nullable: true
                  type: integer
                preference:
                  nullable: true
                  type: integer
              type: object
            example:
              2a02:1234:200a::100:
                metric: null
                preference: 40
            type: object
          no_resolve:
            default: false
            type: boolean
          preference:
            example: 30
            maximum: 4294967295
            minimum: 0
            nullable: true
            type: integer
          via:
            description: next-hop IP Address
            example: 2a02:1234:200a::100
            type: string
        type: object
      description: Property key is the destination CIDR (e.g. "2a02:1234:420a:10c9::/64")
      example:
        172.16.3.0/24:
          via: 10.2.1.1
        it_mgmt:
          discard: false
          metric: null
          next_qualified:
            10.3.1.1:
              metric: null
              preference: 40
          no_resolve: false
          preference: 30
          via: 10.2.1.1
        type: object
    switch_matching:
      description: Switch template
      properties:
        enable:
          type: boolean
        rules:
          items:
            $ref: "#/components/schemas/switch_matching_rule"
          minItems: 1
          type: array
          uniqueItems: true
      type: object
    switch_matching_rule:
      additionalProperties:
        type: string
      description:
        "property key define the type of matching, value is the string
        to match. e.g: `match_name[0:3]`, `match_name[2:6]`, `match_model`,  `match_model[0-6]`"
      example:
        match_model: EX4300
        match_name[0:3]: abc
      properties:
        additional_config_cmds:
          items:
            example: set snmp community public
            type: string
          type: array
        match_role:
          description: role to match
          example: access
          type: string
        name:
          example: access_ex4300
          type: string
        port_config:
          $ref: "#/components/schemas/switch_matching_rule_port_config"
        port_mirroring:
          $ref: "#/components/schemas/switch_matching_rule_port_mirroring"
        switch_mgmt:
          $ref: "#/components/schemas/config_switch"
      type: object
    switch_matching_rule_port_config:
      additionalProperties:
        $ref: "#/components/schemas/junos_port_config"
      description: Propery key is the interface name or interface range
      example:
        "*":
          usage: default
        ge-0/0/0-1:
          ae_disable_lacp: false
          ae_idx: 0
          aggregated: true
          critical: true
          usage: uplink
        ge-0/0/8-16,ge-1/0/0-47:
          usage: ap
      type: object
    switch_matching_rule_port_mirroring:
      additionalProperties:
        description: property key is the port mirroring rule name
        properties:
          input_networks_ingress:
            example:
              - iot
            items:
              type: string
            type: array
          input_port_ids_egress:
            example:
              - ge-0/0/5
              - ge-0/0/6
            items:
              type: string
            type: array
          input_port_ids_ingress:
            example:
              - ge-0/0/4"
            items:
              type: string
            type: array
          output_port_id:
            example: ge-0/0/3
            type: string
        type: object
      type: object
    switch_mgmt:
      properties:
        config_revert:
          default: 10
          type: integer
        protect_re:
          $ref: "#/components/schemas/protect_re"
        root_password:
          type: string
        tacacs:
          $ref: "#/components/schemas/tacacs"
    site_id:
      example: 441a1214-6928-442a-8e92-e1d34b8ec6a6
      format: uuid
      readOnly: true
      type: string
    response_detail_string:
      properties:
        detail:
          type: string
      type: object
    response_device:
      oneOf:
        - $ref: "#/components/schemas/ap"
        - $ref: "#/components/schemas/switch"
        - $ref: "#/components/schemas/gateway"
    response_org_inventory_change:
      properties:
        error:
          $ref: "#/components/schemas/string_list"
        op:
          enum:
            - delete
            - assign
            - manage
            - unmanage
          type: string
        reason:
          $ref: "#/components/schemas/string_list"
        success:
          $ref: "#/components/schemas/string_list"
      required:
        - error
        - op
        - success
        - reason
      type: object
    site_setting:
      description: Site Settings
      properties:
        additional_config_cmds:
          description:
            additional CLI commands to override additional CLIs from the
            netwtemplate
          items:
            type: string
          type: array
        analytic:
          $ref: "#/components/schemas/site_setting_analytic"
        ap_matching:
          $ref: "#/components/schemas/site_setting_ap_matching"
        ap_port_config:
          $ref: "#/components/schemas/site_setting_ap_port_config"
        auto_placement:
          $ref: "#/components/schemas/site_setting_auto_placement"
        auto_preemption:
          $ref: "#/components/schemas/auto_preemption"
        auto_upgrade:
          $ref: "#/components/schemas/site_auto_upgrade"
        blacklist_url:
          example: https://papi.s3.amazonaws.com/blacklist/xxx...
          readOnly: true
          type: string
        ble_config:
          $ref: "#/components/schemas/ap_ble"
        config_auto_revert:
          default: false
          description: whether to enable ap auto config revert
          type: boolean
        config_push_policy:
          $ref: "#/components/schemas/site_setting_config_push_policy"
        created_time:
          readOnly: true
          type: number
        critical_url_monitoring:
          $ref: "#/components/schemas/site_setting_critical_url_monitoring"
        device_updown_threshold:
          default: 0
          description:
            sending AP_DISCONNECTED event in device-updowns only if AP_CONNECTED
            is not seen within the threshold, in minutes
          example: 0
          maximum: 30
          minimum: 0
          type: integer
        dns_servers:
          description: list of NTP servers
          items:
            type: string
          type: array
        dns_suffix:
          description: list of NTP servers
          items:
            type: string
          type: array
        enable_channel_144:
          default: false
          deprecated: true
          description:
            whether to enable channel 144 (some older clients may not support
            it)
          type: boolean
        engagement:
          $ref: "#/components/schemas/site_engagement"
        evpn_options:
          $ref: "#/components/schemas/junos_evpn_options"
        flags:
          $ref: "#/components/schemas/site_setting_flags"
        for_site:
          readOnly: true
          type: boolean
        gateway:
          $ref: "#/components/schemas/gateway_template"
          description:
            "when Templates are not used, Site Setting holds settings for
            multiple device types and they can differ

            to set device-type specific configs, use this

            whatever is defined under `gateway` will overwrite/shadow the one at root-level"
        gateway_additional_config_cmds:
          description:
            "additional CLI commands to append to the generated config
            for gateways


            **Note**: no check is done"
          items:
            type: string
          type: array
        gateway_mgmt:
          $ref: "#/components/schemas/site_setting_gateway_mgmt"
        id:
          format: uuid
          readOnly: true
          type: string
        led:
          $ref: "#/components/schemas/ap_led"
        modified_time:
          readOnly: true
          type: number
        mxedge:
          $ref: "#/components/schemas/site_setting_mxedge"
        mxedge_mgmt:
          $ref: "#/components/schemas/mxedge_mgmt"
        mxtunnels:
          $ref: "#/components/schemas/site_mxtunnel"
        networks:
          $ref: "#/components/schemas/site_setting_networks"
        no_system_defined_port_usages:
          default: false
          description:
            if system-default port usages are not desired - namely, ap
            / iot / uplink
          type: boolean
        ntp_servers:
          description: list of NTP servers
          items:
            type: string
          title: site_setting_ntp_servers
          type: array
        occupancy:
          $ref: "#/components/schemas/site_occupancy_analytics"
        org_id:
          $ref: "#/components/schemas/org_id"
        ospf_areas:
          $ref: "#/components/schemas/site_setting_ospf_areas"
        paloalto_networks:
          $ref: "#/components/schemas/site_setting_paloalto_networks"
        persist_config_on_device:
          default: false
          description: whether to store the config on AP
          type: boolean
        port_mirroring:
          $ref: "#/components/schemas/site_setting_port_mirroring"
        port_usages:
          $ref: "#/components/schemas/site_setting_port_usages"
        protect_re:
          $ref: "#/components/schemas/protect_re"
        proxy:
          $ref: "#/components/schemas/proxy"
        radio_config:
          $ref: "#/components/schemas/ap_radio"
        radius_config:
          $ref: "#/components/schemas/junos_radius_config"
        remote_syslog:
          $ref: "#/components/schemas/remote_syslog"
        report_gatt:
          default: false
          description:
            whether AP should periodically connect to BLE devices and report
            GATT device info (device name, manufacturer name, serial number, battery
            %, temperature, humidity)
          type: boolean
        rogue:
          $ref: "#/components/schemas/site_rogue"
        rtsa:
          $ref: "#/components/schemas/site_setting_rtsa"
        simple_alert:
          $ref: "#/components/schemas/simple_alert"
        site_id:
          $ref: "#/components/schemas/site_id"
        skyatp:
          $ref: "#/components/schemas/site_setting_skyatp"
        srx_app:
          $ref: "#/components/schemas/site_setting_srx_app"
        ssh_keys:
          description:
            when limit_ssh_access = true in Org Setting, list of SSH public
            keys provided by Mist Support to install onto APs (see Org:Setting)
          items:
            example: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAA...Wxa6p6UW0ZbcP john@host
            type: string
          title: site_setting_ssh_keys
          type: array
        ssr:
          $ref: "#/components/schemas/site_setting_ssr"
        status_portal:
          $ref: "#/components/schemas/site_setting_status_portal"
        switch:
          $ref: "#/components/schemas/network_template"
          description:
            "when Templates are not used, Site Setting holds settings for
            multiple device types and they can differ

            to set device-type specific configs, use this

            whatever is defined under `switch` will overwrite/shadow the one at root-level"
        switch_matching:
          $ref: "#/components/schemas/switch_matching"
        switch_mgmt:
          $ref: "#/components/schemas/config_switch"
        synthetic_test:
          $ref: "#/components/schemas/synthetic_test_config"
        track_anonymous_devices:
          default: false
          description:
            "whether to track anonymous BLE assets (requires \u2018track_asset\u2019\
            \ enabled)"
          type: boolean
        tunterm_monitoring:
          items:
            $ref: "#/components/schemas/tunterm_monitoring"
          type: array
        tunterm_monitoring_disabled:
          default: false
          type: boolean
        tunterm_multicast_config:
          $ref: "#/components/schemas/site_setting_tunterm_multicast_config"
        vars:
          $ref: "#/components/schemas/vars"
        vna:
          $ref: "#/components/schemas/site_setting_vna"
        vrf_instances:
          $ref: "#/components/schemas/vrf_instances"
        vrrp_groups:
          $ref: "#/components/schemas/site_setting_vrrp_groups"
        vs_instances:
          $ref: "#/components/schemas/site_setting_vs_instances"
        wan_vna:
          $ref: "#/components/schemas/site_setting_wan_vna"
        watched_station_url:
          example: https://papi.s3.amazonaws.com/watched_station/xxx...
          readOnly: true
          type: string
        whitelist_url:
          example: https://papi.s3.amazonaws.com/whitelist/xxx...
          readOnly: true
          type: string
        wids:
          $ref: "#/components/schemas/site_wids"
        wifi:
          $ref: "#/components/schemas/site_wifi"
        wired_vna:
          $ref: "#/components/schemas/site_setting_wired_vna"
        zone_occupancy_alert:
          $ref: "#/components/schemas/site_zone_occupancy_alert"
      type: object
    site_setting_analytic:
      properties:
        enabled:
          default: false
          description: enable Advanced Analytic feature (using SUB-ANA license)
          type: boolean
      type: object
    site_setting_ap_matching:
      properties:
        enabled:
          type: boolean
        rules:
          example:
            - eth1,eth2:
                port_vlan_id: 1
                vlan_ids:
                  - 1
                  - 10
                  - 50
          items:
            properties:
              match_model:
                example: AP12
                type: string
              name:
                example: AP12
                type: string
              port_config:
                additionalProperties:
                  $ref: "#/components/schemas/ap_port_config"
                description: Property key is the interface(s) (e.g. "eth1,eth2")
                type: object
            type: object
          type: array
      type: object
    site_setting_ap_port_config:
      properties:
        model_specific:
          additionalProperties:
            additionalProperties:
              $ref: "#/components/schemas/ap_port_config"
            description: Property key is the interface(s) (e.g. "eth1,eth2")
            type: object
          description: Property key is the AP model (e.g "AP32")
          example:
            AP32:
              eth1,eth2:
                port_vlan_id: 1
                vlan_ids:
                  - 1
                  - 10
                  - 50
          type: object
      type: object
    site_setting_auto_placement:
      description: if we're able to determine its x/y/orientation, this will be populated
      properties:
        orientation:
          example: 45
          type: number
        x:
          example: 30
          type: number
        y:
          example: 60
          type: number
      type: object
    site_setting_config_push_policy:
      description:
        mist also uses some heuristic rules to prevent destructive configs
        from being pushed
      properties:
        no_push:
          default: false
          description: stop any new config from being pushed to the device
          type: boolean
        push_window:
          $ref: "#/components/schemas/site_setting_config_push_policy_push_window"
      type: object
    site_setting_config_push_policy_push_window:
      description:
        if enabled, new config will only be pushed to device within the
        specified time window
      properties:
        enabled:
          default: true
          type: boolean
        hours:
          $ref: "#/components/schemas/hours"
      type: object
    site_setting_critical_url_monitoring:
      description:
        you can define some URLs that's critical to site operaitons the
        latency will be captured and considered for site health
      properties:
        enabled:
          default: true
          type: boolean
        monitors:
          items:
            properties:
              url:
                example: http://50.1.3.5:8080
                type: string
              vlan_id:
                default: 1
                type: integer
            type: object
          type: array
      type: object
    site_setting_flags:
      additionalProperties:
        type: string
      description: name/val pair objects for location engine to use
      type: object
    site_setting_gateway_mgmt:
      description: Gateway Site settings
      properties:
        admin_sshkeys:
          description: for SSR only, as direct root access is not allowed
          example:
            - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAA...Wxa6p6UW0ZbcP john@host
          items:
            type: string
          type: array
        app_probing:
          $ref: "#/components/schemas/site_setting_gateway_mgmt_app_probing"
        app_usage:
          description: consumes uplink bandwidth, requires WA license
          type: boolean
        auto_signature_update:
          $ref: "#/components/schemas/site_setting_gateway_mgmt_auto_signature_update"
        config_revert_timer:
          default: 10
          description: he rollback timer for commit confirmed
          maximum: 30
          minimum: 1
          type: number
        probe_hosts:
          example:
            - 8.8.8.8
          format: ipv4
          items:
            type: string
          type: array
        root_password:
          description: for SRX only
          type: string
        security_log_source_address:
          example: 192.168.1.1
          format: ipv4
          type: string
        security_log_source_interface:
          example: ge-0/0/1.0
          type: string
      type: object
    site_setting_gateway_mgmt_app_probing:
      properties:
        apps:
          example:
            - facebook
          items:
            type: string
          type: array
        custom_apps:
          items:
            $ref: "#/components/schemas/site_setting_gateway_mgmt_app_probing_custom_app"
          type: array
        enabled:
          type: boolean
      type: object
    site_setting_gateway_mgmt_app_probing_custom_app:
      properties:
        address:
          description: if `protocol`==`icmp`
          example: 192.168.1.1
          type: string
        app_type:
          type: string
        hostname:
          description: if `protocol`==`http`
          example:
            - www.abc.com
          items:
            type: string
          type: array
        name:
          example: pos_app
          type: string
        network:
          example: lan
          type: string
        protocol:
          default: http
          enum:
            - http
            - udp
          type: string
        url:
          description: if `protocol`==`http`
          example: www.abc.com
          type: string
        vrf:
          example: lan
          type: string
      type: object
    site_setting_gateway_mgmt_auto_signature_update:
      properties:
        day_of_week:
          $ref: "#/components/schemas/day_of_week"
        enable:
          default: true
          type: boolean
        time_of_day:
          description: optional, Mist will decide the timing
          type: string
      type: object
    site_setting_mxedge:
      description: site mist edges form a cluster of radsecproxy servers
      properties:
        mist_das:
          $ref: "#/components/schemas/mxedge_das"
        radsec:
          $ref: "#/components/schemas/mxcluster_radsec"
      type: object
    site_setting_networks:
      additionalProperties:
        $ref: "#/components/schemas/junos_networks"
      description: Property key is the network name
      type: object
    site_setting_ospf_areas:
      additionalProperties:
        $ref: "#/components/schemas/junos_ospf_areas"
      description:
        OSPF Areas can be configured both in Site Level (Switch/Gateway
        Template) or Device (Switch/Gateway) Level
      type: object
    site_setting_paloalto_network_gateway:
      properties:
        api_key:
          example: 5abf7c8a-1a1c-4398-ba2d-b0c297094d1a
          type: string
        api_url:
          example: https://23.43.12.78:8443
          type: string
      type: object
    site_setting_paloalto_networks:
      properties:
        gateways:
          items:
            $ref: "#/components/schemas/site_setting_paloalto_network_gateway"
          type: array
        send_mist_nac_user_info:
          default: false
          type: boolean
      type: object
    site_setting_port_mirroring:
      additionalProperties:
        $ref: "#/components/schemas/junos_port_mirroring"
      description: "Property key is the port mirroring instance name

        port_mirroring can be added under site/settings. It takes interface and ports
        as input for ingress, interface as input for egress and can take interface
        and port as output."
      type: object
    site_setting_port_usages:
      additionalProperties:
        $ref: "#/components/schemas/junos_port_usages"
      description: Property key is the port usage name
      type: object
    site_setting_rtsa:
      description: managed mobility
      properties:
        app_waking:
          default: false
          type: boolean
        disable_dead_reckoning:
          type: boolean
        disable_pressure_sensor:
          default: false
          type: boolean
        enabled:
          type: boolean
        track_asset:
          default: false
          description: asset tracking related
          type: boolean
      type: object
    site_setting_skyatp:
      properties:
        enabled:
          type: boolean
        send_ip_mac_mapping:
          default: false
          description: whether to send IP-MAC mapping to SkyATP
          type: boolean
      type: object
    site_setting_srx_app:
      properties:
        enabled:
          default: false
          type: boolean
      type: object
    site_setting_ssr:
      properties:
        conductor_hosts:
          items:
            example:
              - 1.1.1.1
              - 2.2.2.2
            type: string
          type: array
        disable_stats:
          type: boolean
      type: object
    site_setting_status_portal:
      properties:
        enabled:
          default: false
          type: boolean
        hostnames:
          items:
            example: my.misty.com
            type: string
          type: array
      type: object
    site_setting_tunterm_multicast_config:
      properties:
        mdns:
          $ref: "#/components/schemas/site_setting_tunterm_multicast_config_mdns"
        multicast_all:
          default: false
          type: boolean
        ssdp:
          $ref: "#/components/schemas/site_setting_tunterm_multicast_config_ssdp"
      type: object
    site_setting_tunterm_multicast_config_mdns:
      properties:
        enabled:
          default: false
          type: boolean
        vlan_ids:
          example:
            - 2
            - 3
            - 5
          items:
            type: integer
          type: array
      type: object
    site_setting_tunterm_multicast_config_ssdp:
      properties:
        enabled:
          default: false
          type: boolean
        vlan_ids:
          example:
            - 2
            - 3
            - 5
          items:
            type: integer
          type: array
      type: object
    site_setting_vna:
      properties:
        enabled:
          default: false
          description:
            enable Virtual Network Assistant (using SUB-VNA license). This
            applied to AP / Switch / Gateway
          type: boolean
      type: object
    site_setting_vrrp_groups:
      additionalProperties:
        $ref: "#/components/schemas/junos_vrrp_group"
      description: Property key is the vrrp group
      type: object
    site_setting_vs_instances:
      additionalProperties:
        properties:
          networks:
            items:
              example: guest
              type: string
            type: array
        type: object
      description: "virtual-switch (for EX92xx and QFX5130)

        all the networks not included here will be placed in default `evpn_vs` virtual-switch
        RI

        Property key is the instance name"
      type: object
    site_setting_wan_vna:
      properties:
        enabled:
          default: false
          type: boolean
      type: object
    site_setting_wired_vna:
      properties:
        enabled:
          default: false
          type: boolean
      type: object
    sitegroup:
      description: Sites Group
      properties:
        created_time:
          readOnly: true
          type: number
        id:
          format: uuid
          readOnly: true
          type: string
        modified_time:
          readOnly: true
          type: number
        name:
          type: string
        org_id:
          $ref: "#/components/schemas/org_id"
        site_ids:
          items:
            format: uuid
            type: string
          type: array
      required:
        - name
      type: object
    sitegroup_id:
      example: 3c708be3-9422-4695-b729-babdbd2f7615
      format: uuid
      type: string
    sitegroup_list:
      items:
        $ref: "#/components/schemas/sitegroup"
      type: array
    inventory_update:
      properties:
        disable_auto_config:
          default: false
          description:
            if `op`==`assign`, a **cloud-ready** switch/gateway will be
            managed/configured by Mist by default, this disabled the behavior
          type: boolean
        macs:
          description:
            if `op`==`assign`, `op`==`unassign`, `op`==`manage`or `op`==`unmanage`
            , list of MAC, e.g. ["5c5b350e0001"]
          items:
            type: string
          type: array
        managed:
          default: false
          description:
            if `op`==`assign`, an **adopted** switch/gateway will not be
            managed/configured by Mist by default, this enables the behavior
          type: boolean
        no_reassign:
          description:
            if `op`==`assign`, if true, treat site assignment against an
            already assigned AP as error
          type: boolean
        op:
          description: "* if `op`== `upgrade_to_mist`: Upgrade to mist-managed

            * if `op`== `downgrade_to_jsi`: Downgrade to basic monitoring. When downgrading
            a VC member to jsi, we will move the cloud connection of the VC to jsi-terminator
            and keep all VC device/inventories intact for pain-free upgrading back
            to mist.

            * if `op`== `assign`: Assign inventory to a site

            * if `op`== `unassign`: Unassign inventory to a site

            * if `op`== `delete`: Delete multiple inventory from org. If the device
            is already assigned to a site, it will be unassigned."
          enum:
            - assign
            - unassign
            - delete
            - upgrade_to_mist
            - downgrade_to_jsi
          title: inventory_update_operation
          type: string
        serials:
          description: if `op`==`delete`, list of serial numbers, e.g. ["FXLH2015150025"]
          items:
            type: string
          type: array
        site_id:
          description: if `op`==`assign`, target site id
          format: uuid
          type: string
      required:
        - op
      type: object
    mist_device:
      oneOf:
        - $ref: "#/components/schemas/ap"
        - $ref: "#/components/schemas/switch"
        - $ref: "#/components/schemas/gateway"
    name:
      properties:
        name:
          type: string
      type: object
    ap:
      description: AP
      properties:
        aeroscout:
          $ref: "#/components/schemas/ap_aeroscout"
        ble_config:
          $ref: "#/components/schemas/ap_ble"
        centrak:
          properties:
            enabled:
              default: false
              type: boolean
          type: object
        client_bridge:
          $ref: "#/components/schemas/ap_client_bridge"
        created_time:
          readOnly: true
          type: number
        deviceprofile_id:
          example: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
          format: uuid
          nullable: true
          type: string
        disable_eth1:
          default: false
          description: whether to disable eth1 port
          type: boolean
        disable_eth2:
          default: false
          description: whether to disable eth2 port
          type: boolean
        disable_eth3:
          default: false
          description: whether to disable eth3 port
          type: boolean
        disable_module:
          default: false
          description: whether to disable module port
          type: boolean
        esl_config:
          $ref: "#/components/schemas/ap_esl_config"
        for_site:
          readOnly: true
          type: boolean
        height:
          description: height, in meters, optional
          example: 2.75
          type: number
        id:
          format: uuid
          readOnly: true
          type: string
        image1_url:
          nullable: true
          type: string
        image2_url:
          nullable: true
          type: string
        image3_url:
          nullable: true
          type: string
        iot_config:
          $ref: "#/components/schemas/ap_iot"
        ip_config:
          $ref: "#/components/schemas/ap_ip_config"
        led:
          $ref: "#/components/schemas/ap_led"
        locked:
          description: whether this map is considered locked down
          type: boolean
        map_id:
          description: map where the device belongs to
          example: 63eda950-c6da-11e4-a628-60f81dd250cc
          format: uuid
          type: string
        mesh:
          $ref: "#/components/schemas/ap_mesh"
        modified_time:
          readOnly: true
          type: number
        name:
          example: conference room
          type: string
        notes:
          description: any notes about this AP
          example: slightly off center
          type: string
        ntp_servers:
          $ref: "#/components/schemas/string_list"
        org_id:
          $ref: "#/components/schemas/org_id"
        orientation:
          description: orientation, 0-359, in degrees, up is 0, right is 90.
          example: 45
          type: integer
        poe_passthrough:
          default: false
          description:
            whether to enable power out through module port (for APH) or
            eth1 (for APL/BT11)
          type: boolean
        port_config:
          additionalProperties:
            $ref: "#/components/schemas/ap_port_config"
          description:
            "eth0 is allowed in mesh relay mode, otherwise eth0 is not\
            \ allowed here. \nProperty key is the interface(s) name (e.g. \"eth1\"\
            \ or\"eth1,eth2\")"
          type: object
        pwr_config:
          $ref: "#/components/schemas/ap_pwr_config"
        radio_config:
          $ref: "#/components/schemas/ap_radio"
        site_id:
          $ref: "#/components/schemas/site_id"
        uplink_port_config:
          $ref: "#/components/schemas/ap_uplink_port_config"
        usb_config:
          $ref: "#/components/schemas/ap_usb"
        vars:
          $ref: "#/components/schemas/vars"
        x:
          description: x in pixel
          example: 53.5
          type: number
        y:
          description: y in pixel
          example: 173.1
          type: number
      type: object
    ap_aeroscout:
      description: Aeroscout AP settings
      properties:
        enabled:
          default: false
          description: whether to enable aeroscout config
          type: boolean
        host:
          description: required if enabled, aeroscout server host
          example: aero.pvt.net
          nullable: true
          type: string
        locate_connected:
          default: true
          description:
            whether to enable the feature to allow wireless clients data
            received and sent to AES server for location calculation
          type: boolean
      type: object
    ap_ble:
      description: BLE AP settings
      properties:
        beacon_enabled:
          default: false
          description: whether Mist beacons is enabled
          type: boolean
        beacon_rate:
          description: required if `beacon_rate_mode`==`custom`, 1-10, in number-beacons-per-second
          example: 3
          type: integer
        beacon_rate_mode:
          default: default
          enum:
            - default
            - custom
          example: custom
          type: string
        beam_disabled:
          description:
            list of AP BLE location beam numbers (1-8) which should be
            disabled at the AP and not transmit location information (where beam 1
            is oriented at the top the AP, growing counter-clock-wise, with 9 being
            the omni BLE beam)
          example:
            - 1
            - 3
            - 6
          items:
            type: integer
          type: array
        custom_ble_packet_enabled:
          default: false
          description:
            can be enabled if `beacon_enabled`==`true`, whether to send
            custom packet
          type: boolean
        custom_ble_packet_frame:
          description:
            The custom frame to be sent out in this beacon. The frame must
            be a hexstring
          example: 0x........
          type: string
        custom_ble_packet_freq_msec:
          description: Frequency (msec) of data emitted by custom ble beacon
          example: 300
          minimum: 0
          type: integer
        eddystone_uid_adv_power:
          description:
            advertised TX Power, -100 to 20 (dBm), omit this attribute
            to use default
          example: -65
          maximum: 20
          minimum: -100
          type: integer
        eddystone_uid_beams:
          example: 2-4,7
          type: string
        eddystone_uid_enabled:
          default: false
          description:
            only if `beacon_enabled`==`false`, Whether Eddystone-UID beacon
            is enabled
          type: boolean
        eddystone_uid_freq_msec:
          description: Frequency (msec) of data emmit by Eddystone-UID beacon
          example: 200
          type: integer
        eddystone_uid_instance:
          description: Eddystone-UID instance for the device
          example: 5c5b35000001
          type: string
        eddystone_uid_namespace:
          description: Eddystone-UID namespace
          example: 2818e3868dec25629ede
          type: string
        eddystone_url_adv_power:
          description:
            advertised TX Power, -100 to 20 (dBm), omit this attribute
            to use default
          example: -65
          maximum: 20
          minimum: -100
          type: integer
        eddystone_url_beams:
          example: 2-4,7
          type: string
        eddystone_url_enabled:
          description:
            only if `beacon_enabled`==`false`, Whether Eddystone-URL beacon
            is enabled
          type: boolean
        eddystone_url_freq_msec:
          description: Frequency (msec) of data emit by Eddystone-UID beacon
          example: 1000
          type: integer
        eddystone_url_url:
          description: URL pointed by Eddystone-URL beacon
          example: https://www.abc.com
          type: string
        ibeacon_adv_power:
          description:
            advertised TX Power, -100 to 20 (dBm), omit this attribute
            to use default
          example: -65
          maximum: 20
          minimum: -100
          type: integer
        ibeacon_beams:
          example: 2-4,7
          type: string
        ibeacon_enabled:
          default: false
          description:
            can be enabled if `beacon_enabled`==`true`, whether to send
            iBeacon
          type: boolean
        ibeacon_freq_msec:
          description: Frequency (msec) of data emmit for iBeacon
          type: integer
        ibeacon_major:
          description: Major number for iBeacon
          example: 13
          maximum: 65535
          minimum: 1
          type: integer
        ibeacon_minor:
          description: Minor number for iBeacon
          example: 138
          maximum: 65535
          minimum: 1
          type: integer
        ibeacon_uuid:
          description:
            optional, if not specified, the same UUID as the beacon will
            be used
          example: f3f17139-704a-f03a-2786-0400279e37c3
          format: uuid
          type: string
        power:
          default: 9
          description: required if `power_mode`==`custom`
          example: 10
          maximum: 10
          minimum: 1
          type: integer
        power_mode:
          $ref: "#/components/schemas/ap_ble_power_mode"
      type: object
    ap_ble_power_mode:
      default: default
      enum:
        - default
        - custom
      example: custom
      type: string
    ap_client_bridge:
      properties:
        auth:
          properties:
            psk:
              example: foryoureyesonly
              minLength: 1
              type: string
            type:
              default: psk
              description: wpa2-AES/CCMPp is assumed when `type`==`psk`
              enum:
                - open
                - psk
              example: psk
              minLength: 1
              title: ap_client_bridge_auth_type
              type: string
          type: object
        enabled:
          default: false
          description: "when acted as client bridge:

            * only 5G radio can be used

            * will not serve as AP on any radios"
          type: boolean
        ssid:
          example: Uplink-SSID
          minLength: 1
          type: string
      type: object
    ap_esl_config:
      properties:
        cacert:
          description: Only if `type`==`imagotag` or `type`==`native`
          type: string
        channel:
          description: Only if `type`==`imagotag` or `type`==`native`
          example: 3
          type: integer
        enabled:
          default: false
          description: usb_config is ignored if esl_config enabled
          type: boolean
        host:
          description: Only if `type`==`imagotag` or `type`==`native`
          example: 1.1.1.1
          type: string
        port:
          description: Only if `type`==`imagotag` or `type`==`native`
          example: 0
          type: integer
        type:
          $ref: "#/components/schemas/ap_esl_type"
        verify_cert:
          description: Only if `type`==`imagotag` or `type`==`native`
          type: boolean
        vlan_id:
          default: 1
          description: Only if `type`==`solum` or `type`==`hansho`
          type: integer
      type: object
    ap_esl_type:
      description:
        "note: ble_config will be ingored if esl_config is enabled and
        with native mode."
      enum:
        - imagotag
        - hanshow
        - solum
        - native
      example: imagotag
      type: string
    ap_import_json:
      items:
        $ref: "#/components/schemas/ap"
      type: array
    ap_iot:
      description: IoT AP settings
      properties:
        A1:
          $ref: "#/components/schemas/ap_iot_output"
        A2:
          $ref: "#/components/schemas/ap_iot_output"
        A3:
          $ref: "#/components/schemas/ap_iot_output"
        A4:
          $ref: "#/components/schemas/ap_iot_output"
        DI1:
          $ref: "#/components/schemas/ap_iot_input"
        DI2:
          $ref: "#/components/schemas/ap_iot_input"
        DO:
          $ref: "#/components/schemas/ap_iot_output"
      type: object
    ap_iot_input:
      description: IoT Input AP settings
      properties:
        enabled:
          default: false
          description: whether to enable a pin
          type: boolean
        name:
          description: optional; descriptive pin name
          type: string
        pullup:
          description:
            the type of pull-up the pin uses (internal, external, none),
            default none
          enum:
            - internal
            - external
            - none
          type: string
      type: object
    ap_iot_output:
      description: IoT output AP settings
      properties:
        enabled:
          default: false
          description: whether to enable a pin
          type: boolean
        name:
          description: optional; descriptive pin name
          example: motion
          type: string
        output:
          description:
            whether the pin is configured as an output. DO and A1-A4 can
            be repurposed by changing
          type: boolean
        pullup:
          description:
            the type of pull-up the pin uses (internal, external, none),
            default none
          enum:
            - internal
            - external
            - non
          type: string
        value:
          description: output pin signal level, default 0
          type: integer
      type: object
    ap_ip_config:
      description: IP AP settings
      properties:
        dns:
          description: if `type`==`static`
          example:
            - 8.8.8.8
            - 4.4.4.4
          items:
            type: string
          type: array
        dns_suffix:
          description: required if `type`==`static`
          example:
            - .mist.local
            - .mist.com
          items:
            type: string
          type: array
        gateway:
[...]
